<div class="head">
    <div class=" title">
        <h1>settings</h1>
        <h2>category list overview</h2>
    </div>
    <div class="tab__main">
        <nav class="tab__nav">
            <ul class="tab__list">
                <li class="tab__item"><a href="#/setting" class="tab__link" title="link to to do page">Pomadoros</a>
                </li>
                <li class="tab__item"><a href="#/settingscategory" class="tab__link active-tab" title="link to categories done page">Categories</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<ul class="settings__category">
    <li class="settings__category-item work">
        <p type="text" class="settings__category-name">Work</p>
    </li>
    <li class="settings__category-item education">
        <p type="text" class="settings__category-name">Education</p>
    </li>
    <li class="settings__category-item hobby">
        <p type="text" class="settings__category-name">Hobby</p>
    </li>
    <li class="settings__category-item sport">
        <p type="text" class="settings__category-name">Sport</p>
    </li>
    <li class="settings__category-item other">
        <p type="text" class="settings__category-name"> Other</p>
    </li>
</ul>
<div class="settings__button">
    <a href="#/tasklist" class="settings__button" title="go to tasks">Go to task</a>
</div>
