
    <div class="notification__{{type}} note">
        <div class="notification__icon">
            <span></span>
        </div>
        <div class="notification__title ">
            <p>{{text}}</p>
        </div>
        <div class="notification__close">
            <span class="icon-close"></span>
        </div>
    </div>

