<div class="head">
    <div class=" title">
        <h1>daily task list <span class="icon-add openModal add" title="add new tasks"></span></h1>
    </div>
</div>
<div class="first-page__main">
    <div class="first-page__main-img">
        <img src="../images/tomato-add.svg" alt="">
    </div>
    <div class="first-page__title">
        <h1>Add your first task</h1>
    </div>
</div>
<div class="modal">
   
</div>
<div class="popUp"></div>