{{#if break}}
    <span>Break</span> </br>
    <span class="currentTime">{{n}}</span> </br>
    <span>min</span>
{{/if}}
{{#if work}}
    <span class="currentTime">{{n}}</span>
    </br>
    <span>min</span>
{{/if}}
{{#if breakOver}}
    <span> Break is over</span>
{{/if}}
{{#if completed}}
    <span>You Completed Task</span>
{{/if}}
