<div class="head">
    <div class="task__name">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
    </div>
</div>
<div class="head__tomatos">
    <div class="tomatos">
        {{{estimation-col.js estimation}}}
    </div>
    <span class="icon-add"></span>
</div>
<div class="timer">
    <a class="timer-arrow__left tip " href="#/tasklist">
        <span class="icon-arrow-left" title="Go to Global Lis"></span>
    </a>
    <div class="timer-time">
        <div class="timer-time__block">
            <div class="timer-time__item">
                <div class="wrapper">
                    <div class="spinner pie"></div>
                    <div class="filler pie"></div>
                    <div class="mask"></div>
                    <p class="timer__content">Let’s do it!</p>

                </div>
            </div>

        </div>
        <div class="timer-time__btn">
            <button class="timer-time__btn-item timerBtn">Start</button>
        </div>
    </div>
    <a class="timer-arrow__right tip" href="#/report/month/pomodoros">
        <span class="icon-arrow-right"></span>
    </a>
</div>