<div class="head">
    <div class=" title">
        <h1>Report</h1>
    </div>
    <div class="tab__main reports">
        <nav class="tab__nav">
            <ul class="tab__list">
                <li class="tab__item ">
                    <button class="tab__link day" title="statistic of a Day">Day</button>
                </li>
                <li class="tab__item">
                    <button class="tab__link week" title="statistic of a Week">Week</button>
                </li>
                <li class="tab__item">
                    <button class="tab__link month" title="statistic of a Month">Month</button>
                </li>
            </ul>
        </nav>
    </div>
</div>
<a class="graph-arrow__left tip " href="#/tasklist">
                <span class="icon-arrow-left" title="Go to Global Lis">
            </span>
</a>
<div id='graph-info' class="graph-info">

</div>
<div class="graph-info__display">
    <ul class="graph-info__display-list">
        <li class="graph-info__display-item">
            <button class="graph-info__display-link  pomodoros" title="Pomodoros statistic">Pomodoros</button>
        </li>
        <li class="graph-info__display-item">
            <button class="graph-info__display-link  tasks" title="Tasks statistic">Tasks</button>
        </li>
    </ul>
</div>
<a class="graph-arrow__right">
    <span class="icon-arrow-right"></span>
</a>
</div>