<div class="head">
    <div class=" title">
        <h1>daily task list <span class="icon-add"></span></h1>
    </div>
</div>
<div class="first-page__main">
    <div class="first-page__main-img">
        <img src="../images/tomato_settings.svg" alt="">
    </div>
    <div class="first-page__title">
        <h1>As you visited our site for a first time you can check and customize your default application
            settings</h1>
    </div>
    <div class="first-page__main-buttons">
        <button  href="#/tasklist" class="cycle__buttons-item" >Skip</button>
        <button href="#/setting" class="cycle__buttons-item" >go to the settings</button>
    </div>

</div>