<div class="head">
    <div class=" title">
        <h1>daily task list <span class="icon-add"></span></h1>
    </div>
</div>
<div class="main add-task__main">
    <div class="main__img">
        <a href="#" title="add task list" class="main-link"> <img src="../images/tomato-addv02.svg" alt=""></a>
    </div>
    <div class="main__title">
        <h1>Add your first task</h1>
    </div>
</div>